@import './colours.scss';
@import './mixins';

html, body {min-height:100%;} 

body {
  //font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
  //  'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: monospace;
  font-size: 1.2em;
  background-color: $bg;
  color: $fg;
}

button {
  color: $fg;
  background-color: transparent;
  border: 2px solid $fg;
  cursor: pointer;
  //transition: color 0.4s, border-color 0.4s, background-color 0.4s;

  &:hover {
      color: $bg;
      background-color: $ac3;
      border-color: $ac3;
  }
}

.stylized_text {
  max-width:  60%;
  text-align: left;

  @media only screen and (max-width: 1200px) {
    max-width: 80%;
  }

  @include mobile {
    max-width: 90%;
  }
}

a {
  margin-right: 1rem;
}

p {
  margin: 2rem auto;
  line-height: 1.35;
}