$base0: #373a36;
$base1: #1d2228;
$base2: #051622;
$colour0: #fdf5df;
$colour1: #e5b9a8;
$colour2: #d48166;
$colour3: #ff6a3d;
$colour4: #fb8122;
$colour5: #f4db7d;
$colour6: #eba63f;
$colour7: #f1b814;
$colour8: #e40c2b;
$colour9: #fc3a44;
$colour10: #f92c85;
$colour11: #bd1e51;
$colour12: #490b3d; 
$colour13: #a0aecd;
$colour14: #8aa899;
$colour15: #5c6e58;
$colour16: #e1fcfd;
$colour17: #9daaf2;
$colour18: #4a5fc1;
$colour19: #394f8a;
$colour20: #161f6d;
$colour21: #5ebec4;
$colour22: #1ba098;