@import "mixins";

.container {
    position: absolute;
    padding: 0 2rem;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .returnButton {
        background-color: $base1;
        outline: 1px solid $colour0;
        border-radius: 8px;
        border-width: 0;
        //color: #333333;
        color: $colour0;
        cursor: pointer;
        display: inline-block;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        list-style: none;
        margin: 0;
        padding: 10px 12px;
        text-align: center;
        transition: all 200ms;
        vertical-align: baseline;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
            background-color: $colour0;
            color: $base1;
        }
    }

    .error {
        color: $colour9;
        font-weight: bolder;
    }

    .errorMessage {
        color: $colour0;
    }

}
