@import "mixins";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $base1;
  color: $colour0;
  height: 100%;
  overflow-x: hidden;
}


a {
  color: $colour4;
  text-decoration: none;
  transition: color .1s linear;
  &:hover {
    color: $colour1;
  }
}

.container {
  padding: 0 2rem;
}

.emoji {
  position: relative;
  height: 1em;
  top: 2.5px;
}

.image {
  border: 2px solid $base0 !important;
  border-radius: 5px;
}