@import "mixins";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: $base1;
    border-bottom: 1px solid $base0;

    .items {
        display: flex;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    }
}