@import "mixins";

.container {
  padding: 0 2rem;
}

.child {
  height: 90vh
}

.main {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 14vh;
  @include mobile {
    margin-top: 20vh;
  }

}