@import "colours";
@import "mixins";

.container {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    top: 0;
    display: flex;
    justify-content: center;

    .logo {
      margin-top: 30vh;
      height: 66vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mobile {
        margin-top: 20vh;
      }
      .link {
        padding-top: 1em;
        font-size: xx-large;
        color: $fg1;
        transition: color 1s cubic-bezier(0.03, 0.86, 0.37, 0.33);
        &:hover {
          cursor: pointer;
          color: $fg4;
        }
      }
    }

    .page {
      overflow-y: hidden;
      width: 80%;
      background-color: $bg;
      padding: 25px;
      border-top: 1px $bg2 solid;

      .text {
        margin: auto;
        margin-bottom: 20vh;
        margin-top: 5vh;
        width: 50vw;
        background-color: $bg;
        border-radius: 10px;
        padding: 20px;
        border: 1px $bg3 solid;
        transition: border-color 1s cubic-bezier(0.03, 0.86, 0.37, 0.33);
        font-size: 1.5em;
        
        @include mobile {
          font-size: 1em;
          width: 70vw;
        }
        @media only screen and (max-width: 1350px) and (min-width: 1060px) {
          font-size: 1.4em;
          width: 50vw;
        }
        @media only screen and (max-width: 1060px) and (min-width: $screen) {
          font-size: 1.05em;
        }
      }
    }
  }
}
